@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Lato:ital,wght@1.300 & display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fonte/IDroid\ Italic.otf') format('opentype');
    font-weight: normal;

}

/*
#c5ebd6
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d1e

*/

:root {
    --cor0: #e31eb2;
    --cor1: #ce3d3d;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;


    --fonte-padrao: Arial, Verdana, Helvetica, Sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}


body {
    font-family: var(--fonte-padrao);
    background-color: #c5ebd6;
}

header {
    background-image: linear-gradient(to bottom, var(--cor5), var(--cor3));
    min-height: 80px;
    text-align: center;
    padding: 20px;
    padding-top: 10px;
}

header>h1 {
    color: var(--cor0);
    font-family: var(--fonte-android);
    font-size: 2em;
    /* serve para almentar fonte*/
    margin-bottom: 30px;
    text-shadow: 2px 2px 10px black;
    /*esse serve para colocar sombra */

}

header>p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: rgb(240, 235, 231);
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    text-shadow: 2px 2px 0px black;


}

nav {
    background-color: var(--cor3);
    padding: 10px;
    box-shadow: 2px 3px 15px 5px black;
    ;

}

nav>a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}

nav>a:hover {
    background-color: var(--cor1);
    color: var(--cor5);
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 30px;
    background-color: rgb(121, 138, 213);
    text-align: center;
    box-shadow: 0px 0px 10px black;
    border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;

}




h1 {
    color: var(--cor4);
    font-family: var(--fonte-android);
    background-color: rgb(248, 255, 255);

}

h2 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    background-color: aliceblue;
}

main img {
    width: 50%;
}

main img.pequena {
    max-width: 300px;
    display: block;
    margin: auto;
}

div.video {
    background-color: #c5ebd6;
    margin-bottom: 30px;
    margin: 0px -20px
    30px -20px;
    padding: 20px;
    padding-bottom: 57%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
    /*esse comando é espaçamento entre linhas*/
}

h3 {
    color: #ce3d3d;
    font-family: var(--fonte-destaque);
    background-color: aliceblue;
}

aside {
    background-color: #13a8da;
    padding: 10px;
    border-radius: 10px;

}

aside>ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

footer {
    background-color: #2fa866;
    color: rgb(108, 53, 191);
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}